<style>
  .btn-custom {
    background-color: #ff4d00;
    border-color: #ff4d00;
    transition: all 0.3s ease;
  }
  .btn-custom:hover {
    background-color: #fa9212;
    border-color: #fa9212;
    box-shadow: 0 4px 8px rgba(250, 146, 18, 0.3);
    transform: translateY(-2px);
  }
</style>

<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>Únete a nuestra comunidad en Telegram:
          </li>
          <li><a href="https://t.me/rabbitr1" class="btn btn-custom">¡Únete!</a></li>
        </ul>
      </div>

      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
        <p>
          <a href="https://github.com/MiRabbitOSr1/MiRabbitOSr1.github.io">Código fuente de esta web</a>
        </p>
        <p>
          <a href="https://raw.githubusercontent.com/MiRabbitOSr1/MiRabbitOSr1.github.io/main/CONTRIBUTING.md">CONTRIBUTING</a>
        </p>
        <p>
          <a href="https://www.rabbit.tech/contact-us">Contact rabbit</a>
        </p>
        <p>
          <a title="rabbit support" href="https://www.rabbit.tech/support" target="_blank">
              <img src="assets/images/icon/logo.svg" alt="support" width="100" height="23">
          </a>
          <a title="rabbithole" href="https://hole.rabbit.tech/" target="_blank">
            <img src="assets/images/faviconV2.png" alt="hole" width="23" height="23">
          </a>
        </p>
        <p>
          <a class="nav-link" title="rabbit Twitter" href="https://twitter.com/rabbit_hmi" target="_blank">
              <img src="assets/images/icon/twitter-x-48.png" alt="X" width="23" height="23">
          </a>
          <a class="nav-link" title="rabbit Discord" href="https://discord.com/invite/rabbitinc" target="_blank">
            <img src="assets/images/icon/discord-2-48.png" alt="Discord" width="23" height="23">
          </a>
        </p>
        <p>
          2024 comunidad no-oficial de rabbit r1
        </p>
      </div>

    </div>

  </div>
</div>