<style>
  .btn-custom {
    background-color: #ff4d00;
    border-color: #ff4d00;
    transition: all 0.3s ease;
  }
  .btn-custom:hover {
    background-color: #fa9212;
    border-color: #fa9212;
    box-shadow: 0 4px 8px rgba(250, 146, 18, 0.3);
    transform: translateY(-2px);
  }
</style>

<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>Únete a nuestra comunidad en Telegram:</li>
          <li><a href="https://t.me/rabbitr1" class="btn btn-custom">¡Únete!</a></li>
        </ul>
      </div>

      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
        <p>
          <a href="https://github.com/MiRabbitOSr1/MiRabbitOSr1.github.io">Código fuente de esta web</a>
        </p>
        <p>
          <a href="https://mirabbitosr1.github.io/Contributing">CONTRIBUTING</a>
        </p>
        <p>
          <a href="https://www.rabbit.tech/contact-us">Contact rabbit</a>
        </p>

        <p>
          2024 comunidad no-oficial de rabbit r1
        </p>
      </div>

    </div>

  </div>
</div>