<style>
  .navbar-nav .nav-link:hover {
    color: #ff4d00 !important;
  }
  .navbar-nav .nav-link:hover img {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(346deg) brightness(119%) contrast(119%);
  }
  .navbar-nav .journal-icon,
  .navbar-nav .connections-icon {
    filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(50%) contrast(100%);
  }
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" rel="author" title="MiRabbitOSr1" href="https://MiRabbitOSr1.github.io"><img src="/assets/images/rabbit2.png" alt="MiRabbitOSr1" width="48" height="48"></a>

  <div class="container">
    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler float-xs-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" title="Archivo" href="http://mirabbitosr1.github.io/archivo">
              <img src="/assets/images/answers.svg" alt="Archivo" width="23" height="23">
            </a>
        </li>
        <li>
          <a class="nav-link" title="Diario" href="https://hole.rabbit.tech/journal/details" target="_blank">
            <img src="/assets/images/faviconV4.png" alt="journal" width="23" height="23">
          </a>
        </li>
        <li>
          <a class="nav-link" title="Conexiones" href="https://hole.rabbit.tech/connections" target="_blank">
            <img src="/assets/images/connections2.svg" alt="connections" width="23" height="23">
          </a>
        </li>
        <li>
          <a class="nav-link" title="LAM playground" href="https://hole.rabbit.tech/lam" target="_blank">
            <img src="/assets/images/playground.svg" alt="LAM playground" width="23" height="23">
          </a>
        </li>
        <li>
          <a class="nav-link" title="Comunidad" href="https://community.rabbit.tech/" target="_blank">
            <img src="/assets/images/community.svg" alt="community" width="23" height="23">
          </a>
        </li>
        <li>
          <a class="nav-link" title="Telegram MiRabbitOSr1" href="https://t.me/mirabbitosr1_es" target="_blank">
            <img src="/assets/images/icon/telegram.svg" alt="Telegram" width="23" height="23">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
